@import 'reset.css';
@import 'reset.css';

body {
  background-image: linear-gradient(
    95.2deg,
    rgba(173, 252, 234, 1) 26.8%,
    rgba(192, 229, 246, 1) 64%
  );
  font: italic small-caps bold 16px/2 cursive;
  margin: 30px;
  margin: 15px;
}

a {
  color: rgb(212, 49, 49);
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}

header > h1 {
  margin-left: 10px;
}

img {
  width: 250px;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vh;
  align-items: center;
}

#err {
  color: rgb(212, 49, 49);
}

input {
  border: 3px solid lightgray;
  border-radius: 20px;
  padding: 10px 10px;
  margin-top: 10px;
}

button {
  margin-top: 15px;

  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 12px;

  padding: 10px 35px;
}

button:hover {
  background-color: #555555;
  color: white;
}

p {
  margin-top: 35px;
}
